altgraph==0.17.4
cachetools==5.3.2
IPy==1.1
markdown-it-py==3.0.0
mdurl==0.1.2
pefile==2023.2.7
psutil==5.9.5
Pygments==2.16.1
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.7
pywin32-ctypes==0.2.2
rich==13.5.2